extend layout
  
block content
  form(action='/signup' method='POST')
    h1 User SignUp
    .inset
      p: label Username
      input(type='text' name='username')
      p: label Email
      input(type='email' name='email')
      p: label Password
      input(type='password' name='password')
      input(type='submit' value='Register')
  hr
  #{msg}